[mcu display]
# serial: **PASTE YOUR SERIAL PORT HERE AND UNCOMMENT**
restart_method: command

[temperature_sensor V0_Display]
sensor_type: temperature_mcu
sensor_mcu: display
min_temp: 0
max_temp: 100

[display]
menu_timeout: 60
lcd_type: sh1106
i2c_mcu: display
i2c_bus: i2c1a
contrast: 50
# Set the direction of the encoder wheel
#   Standard: Right (clockwise) scrolls down or increases values. Left (counter-clockwise scrolls up or decreases values.
encoder_pins: ^display:PA3, ^display:PA4
#   Reversed: Right (clockwise) scrolls up or decreases values. Left (counter-clockwise scrolls down or increases values.
#encoder_pins: ^display:PA4, ^display:PA3
click_pin: ^!display:PA1
kill_pin: ^!display:PA5
x_offset: 2
#   Use X offset to shift the display towards the right. Value can be 0 to 3
vcomh: 31
#   Set the Vcomh value on SSD1306/SH1106 displays. This value is
#   associated with a "smearing" effect on some OLED displays. The
#   value may range from 0 to 63. Default is 0.
#   Adjust this value if you get some vertical stripes on your display. (31 seems to be a good value)

[neopixel display_led]
pin: display:PA0
chain_count: 1
color_order: GRB
initial_RED: 0
initial_GREEN: 0
initial_BLUE: 0

[display_data empty_display l0]
position: 0, 0
text: {empty}{empty}{empty}{empty}{empty}{empty}{empty}{empty}{empty}{empty}{empty}{empty}{empty}{empty}{empty}{empty}

[display_data empty_display l1]
position: 1, 0
text: {empty}{empty}{empty}{empty}{empty}{empty}{empty}{empty}{empty}{empty}{empty}{empty}{empty}{empty}{empty}{empty}

[display_data empty_display l2]
position: 2, 0
text: {empty}{empty}{empty}{empty}{empty}{empty}{empty}{empty}{empty}{empty}{empty}{empty}{empty}{empty}{empty}{empty}

[display_data empty_display l3]
position: 3, 0
text: {empty}{empty}{empty}{empty}{empty}{empty}{empty}{empty}{empty}{empty}{empty}{empty}{empty}{empty}{empty}{empty}

[display_glyph empty]
data:
  ................
  ................
  ................
  ................
  ................
  ................
  ................
  ................
  ................
  ................
  ................
  ................
  ................
  ................
  ................
  ................


[gcode_macro _LCD_DISPLAY_OFF]
gcode:
  SET_DISPLAY_GROUP group=empty_display

[include ../common/glyph.cfg]